@model MVC_UI.Models.ComponentProcessing

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/ULayout.cshtml";
}

<h1 class="font-weight-bold">Product Details</h1>


<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCardNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComponentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComponentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPriorityRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPriorityRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPlacedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderPlacedDate)
        </dd>
    </dl>
</div>
<hr>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>
